.box{
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    min-height: 390px;
    z-index: 0;
}

.titleColumn {
    margin-bottom: 20px;
    overflow: hidden;             
    text-overflow: ellipsis;
}

.delete-column {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: rgb(247, 0, 0);
}

.div-buttom-delete {
    text-align: right;
}

.h2-title-column {
    margin-top: 0px;
}

.div-title-box {
    display: inline-flex;
    position: relative;
    z-index: -1;
    top: -25px;
}