.task{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: khaki;
    text-align: center;
    font-size: 10px;
    min-height: 30px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}

h2 {
    overflow: hidden;             
    text-overflow: ellipsis;
}