body{
  background-color: rgba(248, 248, 248, 0.979)
}

.title {
  text-align: center;
}

.boxes {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.buttons {
  text-align: right;
  margin-right: 60px;
}

.button-add {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  background-color: rgb(148, 148, 150);
}

.div-modal {
  display: none;
  position: relative;
  top:-700px;
  z-index: 100;
}

.input-modal-project {
  width: 500px;
  height: 30px;
}

.input-modal-column {
  width: 300px;
  height: 30px;
  margin-left: 20px;
}

.input-modal-task {
  width: 500px;
  height: 30px;
}

.label-title-task {
  margin-right: 80px;
  margin-left: 70px;
}

.label-description-task {
  margin-right: 30px;
  margin-left: 70px;
}

.label-status-task {
  margin-right: 70px;
  margin-left: 70px;
}

.text-left {
  text-align: initial;
}

.display-inline {
  display: inline;
}

.text-center {
  text-align: center;
}